data/ch07/combined.csv
data/ch07/combined.tab
data/ch07/GoogleNews-vectors-negative300.bin
data/ch07/GoogleNews-vectors-negative300.bin.gz
data/ch07/instructions.txt
data/ch07/questions-words.txt
data/ch07/set1.csv
data/ch07/set1.tab
data/ch07/set2.csv
data/ch07/set2.tab
data/ch07/wordsim353.zip
data/ch06/*